.Section{
    display: flex;
    align-items: center;
   padding: 15px;
   min-width: 200px;
   border-bottom-width:2px;
   cursor: pointer;
   border-width: 0!important;
   color:gray;
    
}
.Section__active{
    background-color: whitesmoke;
    border-width:3px !important
}
.Section:hover{
background-color:whitesmoke;
border-width:3px !important
}
.Section>h4{
    margin-left: 10px;
    font-size:14px;
}